@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://use.typekit.net/tcg1jgz.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

.active {
  color: #23232C;
  text-decoration: underline;
  font-weight: 600;
  text-decoration-color:#E66435;
  text-underline-offset: 4px;
}

.bg-none {
  background-image: none !important;
}


.react-datepicker__month-container {
  background-color: #F7F7F7 ;
  font-family: "Montserrat", "sans-serif";
  border: 1px solid  #023C3E;
border-radius: 8px;

}

.react-datepicker__header {
  background-color: #F7F7F7 ;
  font-family: "Montserrat", "sans-serif";
  border-radius: 8px;
}

.react-datepicker {
  border-radius: 8px;
}

.react-datepicker__day, .react-datepicker__day-name, .react-datepicker__current-month {
  color:#023C3E;
}

.react-datepicker__day:hover {
  background-color: #1F5B58;
  color:white
}

.react-datepicker__day--disabled {
  color:#023c3e2e
}

.react-datepicker__day--selected {
  background-color: #E66435 ;
  color:white
}

/* #023C3E; */