@tailwind base;
@tailwind components;
@tailwind utilities;



.active {
    color: black;
   text-decoration: underline;
   text-decoration-color:rgba(233, 128, 90, 0.25);
   text-underline-offset: 3px;
}